@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 100vw;
    height: 100vh;
}

@layer base {
    @font-face {
        font-family: 'Helvetica';
        src: url(/assets/fonts/helvetica/Helvetica-Bold.ttf);
        font-weight: bold;
    }

    @font-face {
        font-family: 'Helvetica';
        src: url(/assets/fonts/helvelica/Helvetica\ Regular.otf);
        font-weight: 400;
    }

    @font-face {
        font-family: 'Helvetica Neue';
        src: url(/assets/fonts/helvetica_neue/HelveticaNeueBold.otf);
        font-weight: 400;
    }
}